[submodule "Dependencies/reshade"]
	path = Dependencies/reshade
	url = https://github.com/crosire/reshade.git
[submodule "Dependencies/stb"]
	path = Dependencies/stb
	url = https://github.com/nothings/stb.git
[submodule "Dependencies/Vulkan-Headers"]
	path = Dependencies/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "Dependencies/SPIRV-Headers"]
	path = Dependencies/SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
[submodule "DirectXTex"]
	path = DirectXTex
	url = https://github.com/microsoft/DirectXTex
