[submodule "Dependencies/reshade"]
	path = Dependencies/reshade
	url = https://github.com/crosire/reshade
[submodule "Dependencies/stb"]
	path = Dependencies/stb
	url = https://github.com/nothings/stb
[submodule "dependencies/vulkan"]
	path = dependencies/vulkan
	url = https://github.com/KhronosGroup/Vulkan-Headers
